<%= form_with(model: [appointment, treatment]) do |f| %>

  <%= render "shared/error_messages", object: treatment %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :administered_at %>
    <%= f.datetime_field :administered_at, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>

<% end %>